/** og color #0e53a7 **/
html a,body a {
color:[[setting:linkcolor]];
}
div.yui3-menu.custom_menu_submenu .yui3-menu-content li a {
color:[[setting:linkcolor]] !important;
}
/** og color #6899d3 **/
html a:hover,body a:hover {
color:[[setting:linkhover]];
}

/** Header, footer and container wraps **/

/** og color #4284d3 **/
#textcontainer-wrap {
border-bottom:1px solid [[setting:maincoloraccent]];
}

/** logo is below **/
.thetitle {
background:url([[setting:logo]]) no-repeat;
background-position:0 45%;
}


/** og color #a63c00 **/
/** Main heading styles **/
#region-main-mask .title h2, h2.headingblock,h2.main,h3.main,h2.main a, div.tabtree li a span {
color: #800000;
}

/** og color #a68100 **/
/**Block color styles **/
div.dockeditempanel_hd {
color:[[setting:blockcolor]] !important;
}

/** og color #a63c00 **/
/** Table Header **/
table.rolecap .header,.generaltable .header,.forumheaderlist .header,.files .header,.editcourse .header,.logtable .header,#attempts .header,table#categoryquestions th {
background: #800000;
font-weight: bold;
color:#fff !important;
}


/** og color #ffe073 **/
/** Forum post colors **/
.forumpost .topic {
background: #66ffcc;
}

/** og color #04346c **/
.forumpost .subject {
color:[[setting:forumcolor]];
}

/** og color #04346c **/
/** Calendar Color **/
.calendarmonth.calendartable th {
background:[[setting:forumcolor]] !important;
color:#fff;
}

/** og color #0e53a7 **/
#dock {
background:[[setting:maincolor]];
border-right: 1px solid [[setting:maincolor]];
}
/** og color #0e53a7 **/
div.dockedtitle {
border-bottom: 1px solid [[setting:maincolor]] !important;
border-top: 1px solid [[setting:maincolor]] !important;
}
